{% extends "base.html" %}

{% block title %}board!{% endblock %}
{% load staticfiles %}
{% block rels %}<link rel="stylesheet" href="{% static "index.css" %}">{% endblock %}

{% block content %}
    <div id="menu">
        Тестовый раздел
        <a href="#">[Создать тред]</a>
    </div>
    {% for thread in threads %}
            <a href="{% url 'thread' thread.id %}">
                <div class="thread_name">
                {{ thread.name }}
                </div>
            </a>
    {% endfor %}
{% endblock content %}
