a:link {
    text-decoration: none;
}
a {
    color: #000000;
}

#header {
    min-height: 130px;
    max-height: 130px;
    background-color: #FFAA00;
    font-family: Florence, cursive;
    padding-left: 15%;
    font-size: 20px;
}

#header-line {
    margin-top: 0px;
    margin-bottom: 70px;
    color: #122b40;
    border-color: #122b40;
}

body {
    background-color: #A66F00;
}
